body {
  background-color: lightblue;
  font-family: Times New Roman, sans-serif;
}

h1 {
  text-align: center;
  color: black;
}
.project img{
  height: 300px;
  width: auto;
  max-width: 100%;
  border: 5px solid rgb(160, 10, 125);
  display: block;
  margin: auto;
}
.project a{
  diplay: block;
}
